{
  "presets": [
    ["@babel/preset-env",{ "modules": false }], 
    ["@babel/preset-react",{ "modules": false }]
  ],
  "plugins": [
    [ "module-resolver", {
        "root": [ "./src" ],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@layouts": "./src/layouts",
          "@reducers": "./src/reducers",
          "@views": "./src/views",
          "@theme": "./src/theme",
          "@graphql": "./src/graphql"
        }
      }
    ],
    "react-hot-loader/babel"
  ]
}